@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;600;700&family=Lato:wght@400;700&display=swap');

:root {
    --shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
    --cardColor: white;
    --backgroundColor: rgb(242, 242, 242);
    --borderRadius: 1.5rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
}

body {
    background: var(--backgroundColor);
}





.Titel {
    font-size: 2rem;
    text-align: center;
    margin: 10rem 0 1rem 0;
    font-weight: 800;

}

img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}




nav {
    display: flex;
    background: var(--backgroundColor);
    padding: 1.5rem 0;
    justify-content: center;
    box-shadow: var(--shadow);
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 60%;

}

nav ul p {
    font-size: 2rem;
}

nav ul li {
 font-size: 1.2rem;
 list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul div {
    display: flex;
    gap: 2rem;
    align-items: center;
}






.artiesten {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

.artiesten section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    gap: 2rem;  
}

.artiesten section div {
    width: 25%;
    background: var(--cardColor);
    box-shadow: var(--shadow);
    padding: 1rem;
    border-radius: var(--borderRadius);
}

.artiesten section div:hover {
    transform: scale(1.02);
    transition: all 0.6s;
 } 

.artiesten section div img {
    width: 100%;
    border-radius: 1rem;

}

.artiesten section div h3 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 1rem;
}





.search {
    margin: 10rem 0 -7rem 0;
}

.search section {
    display: flex;
    justify-content: center;
}

.search section input {
    padding: 1rem;
    width: 20rem;
    border-radius: var(--borderRadius);
    background: none;
    position: absolute;
    border: none;
    box-shadow: inset var(--shadow);
}

.search section div {
    position: relative;
    left: 8rem;
    top: 0.6rem;
}

.search section div button {
    border: none;
}

.search section div img {
    width: 2rem;
}




.album {
    display: flex;
    justify-content: center;
}

.album section{
    display: flex;
    justify-content: center;
    width: 65%;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1.5rem;

}

.albums {
    width: 18%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: var(--cardColor);
    box-shadow: var(--shadow);
    border-radius: var(--borderRadius);
    
}

.albums:hover {
    transform: scale(1.02);
    transition: all 0.6s;
 } 



.albums img {
    width: 100%;
    border-radius: var(--borderRadius);
}

.albums h3 {
    font-size: 1.1rem;
    margin: 0.5rem 0 0.1rem 0;
}

.albums p {
    font-size: 0.9rem;
}



/* ANIMATED */


.albums {
    /* ... Jouw andere stijlen hier ... */
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.5s, transform 1s;
}

.albums.animate {
    opacity: 1;
    transform: translateY(0);
}








